* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("/static/assets/evening.jpg") no-repeat center center fixed;
    background-size: cover;
}

.nav {
    background: #007bff;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
}

.nav-link {
    color: #ffffff;
    font-weight: 500;
}

.nav-link.active {
    background-color: #0056b3;
    color: #ffffff;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: #66BB6A;
    color: #ffffff;
}

.container {
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    padding: 30px 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    max-width: 1200px;
    width: 100%;
    min-height: 600px;
    max-height: 600px;
}

.col-md-auto ul {
    padding-left: 0;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.wrapper {
    width: 420px;
    background: #ffffff;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 30px 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    table-layout: fixed;
    width: 100%;
}

h1 {
    font-size: 36px;
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

.form_group {
    width: 100%;
    margin: 15px 0;
}

.form_group label {
    color: #333333;
    font-size: 16px;
}

.form_group input {
    width: 100%;
    height: 50px;
    background: #f8f9fa;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-size: 16px;
    color: #333333;
    padding: 10px;
}

.form_group input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.btn {
    width: 100%;
    height: 45px;
    background: #007bff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}

.btn:hover {
    background: #0056b3;
}

.scrollable-table {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    background-color: #ffffff;
    margin-bottom: 50px;
}

.scrollable-table table {
    width: 100%;
    border-collapse: collapse;
}

.scrollable-table thead {
    display: table;
    width: 100%;
    background-color: #f8f9fa;
}

.scrollable-table tbody {
    display: table;
    width: 100%;
}

.scrollable-table tbody tr {
    display: table-row;
    width: 100%;
    table-layout: fixed;
}

.custom-alert {
    position: fixed;
    bottom: 70px;
    left: 60%;
    transform: translateX(-50%);
    border: 1px solid #c3e6cb;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    z-index: 1050;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #d4edda;
    color: #155724;
    min-width: 300px;
}

.fixed-alert-space {
    height: auto;
}

.welcome-message {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.username-message {
    font-size: 22px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
}